Repository JeongDuo/DinoLand, pull requests merged in 2023-04, with the labels that each got.

#4 chore: husky 설정
  frontend/.husky/pre-commit
  frontend/.vite/deps_temp_7f78a775/package.json
  frontend/package.json
  frontend/tsconfig.json
  frontend/vite.config.ts
  frontend/yarn.lock
  package.json
  yarn.lock
Labels: :package: ci/cd

#5 Chore: eslint
  frontend/.eslintrc.cjs
  frontend/.husky/pre-commit
  frontend/tsconfig.json
Labels: :bricks: setting

#6 Chore: backend setting
  backend/.eslintrc.json
  backend/.prettierrc
  backend/index.ts
  backend/package.json
  backend/src/config/index.ts
  backend/src/controllers/index.ts
  backend/src/middlewares/index.ts
  backend/src/models/index.ts
  backend/src/routes/index.ts
  backend/src/services/index.ts
  backend/src/utils/index.ts
  backend/tsconfig.json
  backend/yarn.lock
Labels: :bricks: setting

#30 Chore: husky 재설정
  .husky/pre-commit
  frontend/.husky/pre-commit
  frontend/package.json
  package.json
  yarn.lock
Labels: :package: ci/cd

#29 Feature: scss setting
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/assets/fonts/Pretendard-Bold.woff2
  frontend/src/assets/fonts/Pretendard-Regular.woff2
  frontend/src/styles/_colors.scss
  frontend/src/styles/_mixins.scss
  frontend/src/styles/_typographies.scss
  frontend/src/styles/_variables.scss
  frontend/src/styles/global.scss
  frontend/vite.config.ts
  frontend/yarn.lock
Labels: :star2: feature, :art: frontend

#32 Feature: Button component 추가
  frontend/src/App.tsx
  frontend/src/assets/arrow-left.png
  frontend/src/assets/arrow-right.png
  frontend/src/assets/close.png
  frontend/src/assets/fonts/DeliusUnicase-Bold.woff2
  frontend/src/assets/fonts/DeliusUnicase-Regular.woff2
  frontend/src/assets/hexagon.png
  frontend/src/assets/icons/arrow-left.svg
  frontend/src/assets/icons/arrow-right.svg
  frontend/src/assets/icons/chat.svg
  frontend/src/assets/icons/logo.svg
  frontend/src/assets/icons/menu.svg
  frontend/src/assets/icons/mike-off.svg
  frontend/src/assets/icons/mike-on.svg
  frontend/src/assets/icons/music-off.svg
  frontend/src/assets/icons/music-on.svg
  frontend/src/assets/icons/share-off.svg
  frontend/src/assets/icons/share-on.svg
  frontend/src/assets/icons/video-off.svg
  frontend/src/assets/icons/video-on.svg
  frontend/src/assets/modal.png
  frontend/src/assets/rectangle.png
  frontend/src/assets/square.png
  frontend/src/components/Button/Button.module.scss
  frontend/src/components/Button/Button.tsx
  frontend/src/components/Button/index.ts
  frontend/src/constants/index.ts
  frontend/src/styles/global.scss
  frontend/src/types/index.ts
Labels: :star2: feature, :art: frontend

#33 Feature: Icon 컴포넌트
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/assets/icons/arrow-left.svg
  frontend/src/assets/icons/arrow-right.svg
  frontend/src/assets/icons/chat.svg
  frontend/src/assets/icons/menu.svg
  frontend/src/assets/icons/mike-off.svg
  frontend/src/assets/icons/mike-on.svg
  frontend/src/assets/icons/music-off.svg
  frontend/src/assets/icons/music-on.svg
  frontend/src/assets/icons/share-off.svg
  frontend/src/assets/icons/share-on.svg
  frontend/src/assets/icons/video-off.svg
  frontend/src/assets/icons/video-on.svg
  frontend/src/components/Icon/Icon.tsx
  frontend/src/components/Icon/index.ts
  frontend/src/components/Icon/svg.ts
  frontend/src/styles/global.scss
  frontend/src/types/typing.d.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
  frontend/yarn.lock
Labels: :star2: feature, :art: frontend

#34 Feature: input component
  frontend/src/App.tsx
  frontend/src/components/Input/Input.module.scss
  frontend/src/components/Input/Input.tsx
  frontend/src/components/Input/index.tsx
  frontend/src/styles/_mixins.scss
  frontend/src/styles/global.scss
Labels: :star2: feature, :art: frontend

#35 Feature: modal component
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/components/Button/Button.tsx
  frontend/src/components/Input/index.ts
  frontend/src/components/Modal/Modal.module.scss
  frontend/src/components/Modal/Modal.tsx
  frontend/src/components/Modal/index.ts
  frontend/src/components/Portal/Portal.tsx
  frontend/src/components/Portal/index.ts
Labels: :star2: feature, :art: frontend
